.sidebar {
  flex: 0.35;
  display: flex;
  flex-direction: column;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-right: 1px solid lightgray;
}

.sidebar_headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar_headerRight .icon {
  margin-right: 1.5vw;
  font-size: 2.4rem !important;
}

.sidebar_search {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: 5rem;
  padding: 1rem;
}

.sidebar_searchContainer {
  display: flex;
  align-items: center;
  background: white;
  width: 100%;
  height: 3.5rem;
  border-radius: 2rem;
}

.sidebar_searchContainer .MuiSvgIcon-root {
  font-size: 2.5rem !important;
  color: gray;
  margin: 1rem;
}

.sidebar_searchContainer input {
  border: none;
  margin-left: 1rem;
  outline: none;
}

.sidebar_chats{
  flex:1;
  background: white;
  overflow: scroll;
}

.sidebar_chats::-webkit-scrollbar{
  display: none;
}